body{
  height: 4000px;
  width: 4000px
}

.custom{
  width: 300px;
  height: 300px;
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: #eee;
  color: #f00
}

.active{
  background-color: #00f;
  color: #fff
}
